<div class="sidebar-container">
    <p class="home-icon">H</p>
    <div class="sidebar-menu">
        <p class="icons"><i class="fas fa-home"></i>
        </p>
        <p class="icons"><i class="fa fa-address-book" aria-hidden="true"></i>
        </p>
        <p class="icons"><i class="fa fa-bandcamp" aria-hidden="true"></i>
        </p>
        <p class="icons"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>

        </p>
    </div>

    <p class="footer-logo"><i class="fa fa-user-circle" aria-hidden="true"></i>
    </p>

</div>