.box1 {
  background-image: url(../../../assets/images/smooth_talk_dp.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
