<div class="text-sm mt-5">
    <app-password-condition title="Uppercase letter" [isMet]="hasUppercase"></app-password-condition>
    <app-password-condition title="Lowercase letter" [isMet]="hasLowercase"></app-password-condition>
    <app-password-condition title="Number" [isMet]="hasNumber"></app-password-condition>
    <app-password-condition title="Special character (e.g. !?<>@#$%)"
        [isMet]="hasSpecialCharacter"></app-password-condition>
    <app-password-condition title="8 characters or more" [isMet]="isEightCharactersLong"></app-password-condition>
    @if(isLongerThan72){

    <app-password-condition title="72 characters or less" [isMet]="false"></app-password-condition>
    }
</div>